a
  text-decoration none
  color: black

.search-result
  max-height 200px;
  min-width 500px
  overflow-y auto

  & > :first-child
    border: none

.group-list
  margin: 0 5px
  padding 5px 0
  border-top: 2px solid lightgray
  display flex
  flex-flow row nowrap
  justify-content flex-start
  align-items stretch

.category-name
  font-weight bold
  font-size 16px;
  text-align left
  width: 200px;
  word-wrap break-word

.products-list
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items stretch
  flex-grow 1

.search-item
  display block
  min-width 100px
  padding: 5px;
  font-size 12px;
  background-color: white;
  cursor: pointer;

.search-item:hover
  background-color: #eee