<div class="search-result" *ngIf="productName?.trim().length > 0 && groupedProducts?.length > 0">
	<div class="group-list" *ngFor="let group of groupedProducts">
		<h3 class="category-name">{{group.key}}</h3>
		<div class="products-list">
			<a *ngFor="let product of group.value" [routerLink]="['/product-detail', product.id]" [innerHTML]="product.name | substrBold:productName" class="search-item">
			</a>
		</div>
	</div>
</div>