
.name
.category
  margin: 5px 0

.type
.value
  color: black
  display inline-block
  vertical-align middle

.type
  font-weight bold
  font-size 16px;
  margin-right 10px;

.value
  font-size 14px

button
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;

  &:hover
    background-color: #cfd8dc;

  &:disabled
    background-color: #eee;
    color: #ccc;
    cursor: auto;
