<div *ngIf="product">
	<h2>Информация о продукте</h2>
	<div class="category">
		<span class="type">Категория: </span><span class="value">{{product.category}}</span>
	</div>
	<div class="name">
		<span class="type">Название: </span><span class="value">{{product.name}}</span>
	</div>
	<button (click)="goBack()">Назад</button>
</div>
