<h2>Поиск продуктов</h2>
<div class="input-box">
	<input class="input" [(ngModel)]="productName" placeholder="Продукт" (ngModelChange)="search(productName)">
	<product-result [productName]="productName" [groupedProducts]="groupedProducts"></product-result>
	<span *ngIf="notFound" class="notFound">Продукты не найдены</span>
</div>
