.input-box
  display inline-flex
  min-width 200px
  flex-flow column nowrap
  justify-content flex-start
  align-items stretch

.input
  height: 20px;
  padding: 5px 8px;

.notFound
  font-size: 16px;
  color: darkred;
  margin-left 10px;

.notFound,
.input
  display inline-block
  vertical-align middle

